<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Registrar recolector</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Fundación</label>
                                <select id="fundacion" [(ngModel)]="newRecolector.fundacion" name="fundacion" class="form-control">
                                          <option *ngFor="let fundacion of fundaciones" [value]="fundacion.id" name="fundacion"> {{ fundacion.nombre }} </option>
                                        </select>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Localidad asignada</label>
                                <select id="localidad" [(ngModel)]="newRecolector.localidad" name="localidad" class="form-control">
                                  <option *ngFor="let localidad of localidades" [value]="localidad.id" name="localidad"> {{ localidad.nombre }} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label>Nombres</label>
                                <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="newRecolector.nombre" name="nombres">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="newRecolector.apellido" name="apellido">
                            </div>
                        </div>

                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label>Fecha nacimiento</label>
                                <input type="date" class="form-control" placeholder="Fecha nacimiento" [(ngModel)]="newRecolector.fechaNacimiento" name="fechanacimiento">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round" (click)=saveusuario(newRecolector.nombre,newRecolector.apellido,newRecolector.fechaNacimiento,newRecolector.fundacion,newRecolector.localidad)>
                            Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>