<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Informe de solicitudes</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Estado de solicitud</label>
                                <select class="form-control">
                                    <option value="-1">-- Seleccionar --</option>
                                    <option value="2" [(ngModel)]="status">Pendiente</option>
                                    <option value="3" [(ngModel)]="status">Completado</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Fecha creación solicitud</label>
                                <input type="date" class="form-control" placeholder="Fecha solicitud" [ngModel]="fechacreacion | date:'yyyy-MM-dd'">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Donador</label>
                                <select id="donador" [(ngModel)]="myDonador"
                                      name="donador" class="form-control">
                                    <option *ngFor="let donador of donadores" [value]="donador.id"
                                      name="donador" [(ngModel)]="myDonador.id"> {{ donador.nombre + ' ' +  donador.apellido }}</option>
                                </select>     
                            </div>
                        </div>

                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Recolector</label>
                                <select id="recolector" [(ngModel)]="myRecolector"
                                      name="recolector" class="form-control">
                                    <option *ngFor="let recolector of recolectores" [value]="recolector.id"
                                      name="recolector" [(ngModel)]="myRecolector.id"> {{ recolector.nombre + ' ' +  recolector.apellido }}</option>
                                </select>    
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-outline-primary btn-round" (click)="Consultar(myRecolector, myDonador)">Consultar</button>
                        </div>
                    </div>
                </form>

                <table class="table table-bordered">
                    <thead class=" text-primary">
                        <tr>
                            <th>Dirección</th>
                            <th>Localidad</th>
                            <th>Donador</th>
                            <th>Fundación</th>
                            <th>Recolector</th>
                            <th>Estado</th>
                            <th>Ver</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let recogida of recogidas">
                            <td>{{ recogida.direccion }}</td>
                            <td>{{ recogida.localidad.nombre }}</td>
                            <td>{{ recogida.donador.nombre }} {{ recogida.donador.apellido }}</td>
                            <td *ngIf ="recogida.recolector; else norecolector">
                                {{ recogida.recolector.fundacion.nombre }}</td>
                            <td *ngIf ="recogida.recolector; else norecolector"> 
                                   {{ recogida.recolector.nombre }} {{ recogida.recolector.apellido }}
                            </td>
                            <td *ngIf = "recogida.fechaCompletada ; else statuspending"> 
                                Completado </td>
                            <td><i class="nc-icon nc-zoom-split" (click)=verRecogida(recogida.id)></i>  </td>
                            <ng-template #norecolector>
                                <td>Pendiente </td>
                                
                           </ng-template>
                           <ng-template #statuspending>
                                <td>Pendiente </td>
                                
                           </ng-template>
                            <td><i class="nc-icon nc-simple-remove" (click)=deleteRecogida(recogida.id)></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>