<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Nueva solicitud de recogida</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-8 px-1">

                            <label>Dirección</label>
                            <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="miSolicitud.direccion" name="direccion" (keydown.enter)="$event.preventDefault()" autocorrect="on" autocapitalize="off" spellcheck="off" type="text" #search>

                        </div>

                        <div class="col-md-4 pl-1">

                            <label>Localidad</label>
                            <select id="localidad_" [(ngModel)]="miSolicitud.localidad" name="localidad" class="form-control" name="localidad">
                                <option *ngFor="let localidad of localidades" [value]="localidad.id" name="localidad">
                                    {{ localidad?.nombre }} </option>
                            </select>

                        </div>
                    </div>
                    <br>


                    <div class="row">
                        <div class="col-md-12 px-1">
                            <agm-map [latitude]="latitude" [(ngModel)]="miSolicitud.latitud" [longitude]="longitude" [zoom]="zoom">
                                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                            </agm-map>
                        </div>
                    </div>

                    <div class="row">
                        <div class="update ml-auto mr-auto left">
                            <button type="submit" class="btn btn-outline-primary btn-round" (click)="crearSolicitud()">Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>