<tr>
    <td>{{mySelectedArticulo.nombre}}</td>
    <td>{{mySelectedArticulo.descripcion}}</td>
    <td>{{mySelectedArticulo.cantidad}}</td>
    <td>{{mySelectedArticulo.alto}} cm</td>
    <td>{{mySelectedArticulo.largo}} cm</td>
    <td>{{mySelectedArticulo.ancho}} cm</td>
    <td>{{mySelectedArticulo.peso}} kg</td>
    <td><i class="nc-icon nc-simple-remove" (click)=deleteArticulo(articulo.id)></i></td>
</tr>