<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title" *ngIf="visible !='0'"> Editar recolector {{ verRecolector.nombre + " " + verRecolector.apellido}} </h5>
                <h5 class="card-title" *ngIf="visible =='0'"> Recolector {{ verRecolector.nombre + " " + verRecolector.apellido}} </h5>
            </div>
            <div class="card-body ">
                <form>
                    <div class="row ">
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Fundación</label>
                                <select id="fundacion" [(ngModel)]="verRecolector.fundacion"
                                              class="form-control" name="fundacion">
                                            <option *ngFor="let fundacion of fundaciones" [value]="fundacion.id"
                                                 [(ngModel)]="verRecolector.fundacion.id" name="fundacion"> {{ fundacion.nombre }} </option>
                                        </select>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                                <div class="form-group">
                                        <label>Localidad</label>
                                        <select id="localidad" [(ngModel)]="verRecolector.localidad"
                                              class="form-control" name="localidad">
                                            <option *ngFor="let localidad of localidades" [value]="localidad.id"
                                                 [(ngModel)]="verRecolector.localidad.id" name="localidad"> {{ localidad.nombre }} </option>
                                        </select>
                                    </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 pr-1 ">
                            <div class="form-group ">
                                <label>Nombres</label>
                                <input type="text " class="form-control" placeholder="Nombres " [(ngModel)]="verRecolector.nombre " [disabled]="visible =='0' " (ngModelChange)="verRecolector.nombre=$event" name="nombre">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1 ">
                            <div class="form-group ">
                                <label>Apellidos</label>
                                <input type="text " class="form-control" placeholder="Apellidos " [(ngModel)]="verRecolector.apellido " [disabled]="visible =='0' " (ngModelChange)="verRecolector.apellido=$event" name="apellido">
                            </div>
                        </div>

                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label>Fecha nacimiento</label>
                                <input type="date" class="form-control" placeholder="Fecha completado" [ngModel]="verRecolector.fechaNacimiento | date:'yyyy-MM-dd'" (ngModelChange)="verRecolector.fechaNacimiento=$event" name="fechaCompletada" [disabled]="visible =='0'">
                            </div>
                        </div>
                    </div>
                    <div class="row " *ngIf="visible !='0'">
                        <div class="update ml-auto mr-auto ">
                            <button type="submit " class="btn btn-primary btn-round " (click)="actualizarRecolector(verRecolector.nombre,verRecolector.fechaNacimiento,verRecolector.fundacion ,verRecolector.localidad,verRecolector.apellido)">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>