<div class="card card-stats">
    <div class="card-body ">
        <div class="row">
            <div class="col-3 col-md-3">
                <div class="icon-big text-center icon-warning small">
                    <i class="nc-icon nc-delivery-fast text-success"></i>
                </div>
            </div>
            <div class="col-9 col-md-9">
                <div class="numbers">
                    <span class="card-category small">{{MySelectedRecogida.localidad.nombre}}</span>
                    <br>
                    <span class="card-title small">{{MySelectedRecogida.direccion}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <hr>
        <div class="stats">
            <i class="fa fa-calendar-o"></i> Creada en: <b>{{MySelectedRecogida.fechaSolicitud | date: ['dd/MM/yyyy']}}</b>
           <br>
           <div *ngIf ="MySelectedRecogida.fechaEstimadaEntrega; else recpendiente">
                <i class="fa fa-calendar-o"></i> Recogida estimada: <b>{{MySelectedRecogida.fechaEstimadaEntrega | date: ['dd/MM/yyyy']}}</b>
           </div>
           
           <ng-template #recpendiente>
                <i class="fa fa-calendar-o"></i> Recogida <b>pendiente</b> por asignar
           </ng-template>
        </div>
    </div>
</div>