<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Detalles solicitud de recogida</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4 pl-1">
                            <label>Localidad</label>
                            {{mySelectedRecogida.localidad.nombre}}
                        </div>
                        <div class="col-md-8 px-1">
                            <label>Dirección</label>
                            {{mySelectedRecogida.direccion}}
                        </div>

                    </div>

                    <div class="row">
                        <div class="update ml-auto mr-auto left">
                            <button type="submit" class="btn btn-outline-primary btn-round"
                                (click)="terminar()">Terminar</button>
                            <button type="submit" class="btn btn-outline-primary btn-round"
                                (click)="addArticulo()">Agregar artículo</button>
                        </div>
                    </div>
                </form>
                <hr>

                <table class="table table-bordered">
                    <thead class=" text-primary">
                        <tr>
                            <th>Artículo</th>
                            <th>Descripción</th>
                            <th>Cantidades</th>
                            <th>Alto</th>
                            <th>Largo</th>
                            <th>Ancho</th>
                            <th>Peso</th>
                            <th>¿Funcional?</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let articulo of misArticulos">
                            <td>{{ articulo.nombre }}</td>
                            <td>{{ articulo.descripcion }}</td>
                            <td>{{ articulo.cantidad }}</td>
                            <td>{{articulo.alto}} cm</td>
                            <td>{{articulo.largo}} cm</td>
                            <td>{{articulo.ancho}} cm</td>
                            <td>{{articulo.peso}} kg</td>
                            <td>{{ articulo.estadoUtil }}</td>
                        <td><i class="nc-icon nc-simple-remove" (click)=deleteArticulo(articulo.id)></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>