<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
        <div class="logo">
            <!--   <a [routerLink]="['dashboard']" class="simple-text logo-mini">
                <div class="logo-image-small">
                        <img src="../assets/img/ZEROWASTE_LOGO2.png">
                </div>
            </a> -->
            <a [routerLink]="['dashboard']" class="simple-text logo-normal" center>

                <!--<div class="logo-image-big">-->
                <img src="../assets/img/ZEROWASTE_LOGO3.jpeg">
                <!-- </div> -->
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a [routerLink]="['dashboard']">
                        <i class="nc-icon nc-bank"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                <li *ngIf="(rol =='donador' || rol =='admin'); else nomostrar">
                    <a [routerLink]="['newsolicitud']">
                        <i class="nc-icon nc-delivery-fast"></i>
                        <p>Nueva Solicitud</p>
                    </a>
                </li>
                <!-- <li>
                    <a [routerLink]="['modperfil']">
                        <i class="nc-icon nc-single-02"></i>
                        <p>Mi Perfil</p>
                    </a>
                </li> -->
                <li *ngIf="(rol =='fundacion'|| rol =='admin'); else nomostrar">
                    <a [routerLink]="['addRecolector']">
                        <i class="nc-icon nc-badge"></i>
                        <p>Agregar recolector</p>
                    </a>
                </li>
                <ng-template #nomostrar>

                </ng-template>
                <!-- <li>
                    <a [routerLink]="['perfilrecolector/1']">
                        <i class="nc-icon nc-badge"></i>
                        <p>Editar recolector</p>
                    </a>
                </li> -->
                <li *ngIf="(rol =='fundacion'|| rol =='admin')">
                    <a [routerLink]="['informesolicitud']">
                        <i class="nc-icon nc-bullet-list-67"></i>
                        <p>Informe de solicitudes</p>
                    </a>
                </li>
                <li *ngIf="(rol =='fundacion'|| rol =='admin')">
                    <a [routerLink]="['informeusuarios']">
                        <i class="nc-icon nc-bullet-list-67"></i>
                        <p>Mis recolectores</p>
                    </a>
                </li>
                <li *ngIf="(rol =='fundacion'|| rol =='admin')">
                    <a [routerLink]="['solicitudespendientes']">
                        <i class="nc-icon nc-time-alarm"></i>
                        <p>Solicitudes pendientes</p>
                    </a>
                </li>

                <li>
                    <a href="./upgrade.html">
                        <i class="nc-icon nc-spaceship"></i>
                        <p>Cerrar sesión</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="#pablo">ZeroWaste</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>

            </div>
        </nav>
        <div class="content">
            <router-outlet></router-outlet>
            <!-- <app-addsolicitud></app-addsolicitud> -->


            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <nav class="footer-nav">
                            <ul>
                                <li>
                                    <a [routerLink]="['dashboard']" target="_blank">ZeroWaste</a>
                                </li>
                                <li>
                                    <a [routerLink]="['dashboard']" target="_blank">Blog</a>
                                </li>
                                <li>
                                    <a [routerLink]="['dashboard']" target="_blank">Licenses</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="credits ml-auto">
                            <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by ZeroWaste
              </span>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>

</div>