<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Solicitud de recogida</h5>
            </div>
            <div class="card-body">
                <app-fotos-articulos [id]="mySelectedRecogida.id"></app-fotos-articulos>
                <form>
                    <div class="row">
                        <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>Donador</label>
                                <input type="text" class="form-control" disabled="" placeholder="Usuario" [(ngModel)]='mySelectedRecogida.donador.nombre + " " + mySelectedRecogida.donador.apellido' [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Fecha solicitud</label>
                                <input type="date" disabled="disabled" class="form-control" placeholder="Fecha solicitud" [ngModel]="mySelectedRecogida.fechaSolicitud | date:'yyyy-MM-dd'" (ngModelChange)="mySelectedRecogida.fechaSolicitud=$event" name="fechaSolicitud">
                            </div>
                        </div>
                        <div class="col-md-3 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Dirección a recoger</label>
                                <input type="text" class="form-control" placeholder="Dirección a recoger" [ngModel]="mySelectedRecogida.direccion" (ngModelChange)="mySelectedRecogida.direccion=$event" name="Direccion">
                            </div>
                        </div>
                        <div class="col-3  col-md-3 pl-1">
                            <div class="form-group">
                                <label>Localidad</label>
                                <select id="localidad" [(ngModel)]="mySelectedRecogida.localidad" name="localidad" class="form-control">
                  <option *ngFor="let localidad of localidades" [value]="localidad.id" name="localidad"
                    [(ngModel)]="mySelectedRecogida.localidad.id"> {{ localidad.nombre }} </option>
                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Recolector asignado</label>
                                <select id="recolector" [(ngModel)]="mySelectedRecogida.recolector" name="recolector" class="form-control">
                  <option *ngFor="let recolector of recolectores" [value]="recolector.id" name="recolector"
                    [(ngModel)]="mySelectedRecogida.recolector.id"> {{ recolector.nombre }} {{ recolector.apellido }}
                  </option>
                </select>
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Fecha Estimada Recolección</label>
                                <input type="date" class="form-control" placeholder="Fecha Estimada" [ngModel]="mySelectedRecogida.fechaEstimadaEntrega | date:'yyyy-MM-dd'" (ngModelChange)="mySelectedRecogida.fechaEstimadaEntrega=$event" name="fechaEstimadaEntrega">

                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Fecha completado</label>
                                <input type="date" class="form-control" placeholder="Fecha completado" [ngModel]="mySelectedRecogida.fechaCompletada | date:'yyyy-MM-dd'" (ngModelChange)="mySelectedRecogida.fechaCompletada=$event" name="fechaCompletada">
                            </div>
                        </div>
                    </div>


                    <!--        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Observación</label>
                                    <textarea class="form-control textareaa">{{mySelectedRecogida.descripcion}}</textarea>
                                </div>
                            </div>
                        </div>-->

                    <div class="row">
                        <div class="update ml-auto mr-auto left">
                            <button type="submit" class="btn btn-outline-primary btn-round" (click)=asignarRecolector(mySelectedRecogida.recolector,mySelectedRecogida.id,mySelectedRecogida.fechaEstimadaEntrega)>
                Asignar Recolector y fecha estimada</button>
                        </div>

                        <div class="update ml-auto mr-auto left">
                            <button type="submit" class="btn btn-outline-primary btn-round" (click)=completarRecogida(mySelectedRecogida.id)>
                Confirmar recolección</button>
                        </div>

                        <div class="update ml-auto mr-auto left">
                            <button type="submit" class="btn btn-outline-primary btn-round" (click)=updateRecogida(mySelectedRecogida.id,mySelectedRecogida.direccion,mySelectedRecogida.localidad)>
                Actualizar dirección</button>
                        </div>
                        <div class="update ml-auto mr-auto left">
                            <button type="submit" class="btn btn-outline-primary btn-round" (click)=verPerfil(mySelectedRecogida.recolector.id)>
                Ver recolector</button>
                        </div>

                    </div>

                </form>
                <hr>

                <table class="table table-bordered">
                    <thead class=" text-primary">
                        <tr>
                            <th>artículo</th>
                            <th>Descripción</th>
                            <th>Cantidades</th>
                            <th>Alto</th>
                            <th>Largo</th>
                            <th>Ancho</th>
                            <th>Peso</th>
                            <th>¿Funcional?</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let articulo of misArticulos">
                            <td>{{ articulo.nombre }}</td>
                            <td>{{ articulo.descripcion }}</td>
                            <td>{{ articulo.cantidad }}</td>
                            <td>{{articulo.alto}} cm</td>
                            <td>{{articulo.largo}} cm</td>
                            <td>{{articulo.ancho}} cm</td>
                            <td>{{articulo.peso}} kg</td>
                            <td>{{articulo.estadoUtil}}</td>
                            <td><i class="nc-icon nc-simple-remove" (click)=deleteArticulo(articulo.id)></i></td>
                        </tr>
                    </tbody>
                </table>


                <div class="d-flex flex-nowrap bd-highlight">

                    <div class="orden-1 p-2 bd-highlight form-inline my-2 my-lg-0">
                        <button type="submit" class="btn btn-outline-primary btn-round" [routerLink]="['/locacion', mySelectedRecogida.latitud,mySelectedRecogida.longitud]">
    Ver Ruta <i class="nc-icon nc-world-2"></i></button>
                    </div>

                    <div class="order-3 p-2 bd-highlight update ml-auto mr-auto right">
                        <button type="cancel" class="btn btn-outline-primary btn-round" (click)=deleteRecogida(mySelectedRecogida.id)>
              Cancelar Solicitud</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>